* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*Header*/
  .nav {
    border: solid 1px red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(81, 236, 172, 0.466);
    padding-block: 0.5rem;

    .nav__imagenNombre ul {
      display: flex;
      align-items: center;
      gap: 1rem;

      .nav__imagenNombre--imagen {
        width: 4rem;
        height: 4rem;
        border: solid 1px red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .nav__navLik ul {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
  /*footer*/
  .footer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__datos--ul {
      width: 50vw;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid 1px rgb(30, 243, 11);
      flex-wrap: wrap;

      .footer__datos--li {
        width: 7rem;
        height: 2.3rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        border: solid 1px red;
      }
    }
    .footer__redes--ul {
      width: 50vw;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;

      border: solid 1px rgb(17, 0, 255);
      flex-wrap: wrap;

      .footer__redes--li {
        width: 7rem;
        height: 2.3rem;
        display: flex;
        gap: 0.3rem;
        align-items: center;
        border: solid 1px red;

        .footer__redes--img {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          border: solid 1px red;
        }
      }
    }
  }
}
